/* Мои стили */

html{
    scroll-behavior: smooth;
    transition: ease 3s;
}

body{
    background-color: #162831;
}

.arrow a{
    background-color: #fff;
    color: #162831;
    opacity: 0.2;
    border-radius: 10px;
    padding: 10px;
    font-size: 45px;
    position: fixed;
    right: 45px;
    bottom: 45px;
    z-index: 1000;
}

.arrow a:hover{
    background-color: #fff;
    color: #162831;
    opacity: 1;
    border-radius: 10px;
    padding: 10px;
    font-size: 45px;
    position: fixed;
    right: 45px;
    bottom: 45px;
    z-index: 1000;
}

a{
    text-decoration: none;
}

h1{
    position: absolute;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 140%;
    text-align: center;

    width: 587px;
    left: 355px;
    top: 210px;
}

h2{
    color: #fff;
    font-size: 42px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: center;

}

h3{
    position: absolute;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
 
    left: 528px;
    top: 136px;
}

h3:before{
    content: url(/css/img/Rectangle3.png);
    position: absolute;
    right: 250px;
}

h3:after{
    content: url(/css/img/Rectangle5.png);
    position: absolute;
    left: 250px;
}

div.logo{
    position: absolute;
    left: 312px;
    top: 30px;
}

div.list{
    position: absolute;
    left: 586px;
    top: 51px;
}

ul{
    list-style-type: none;
    
}

li{
    float: left;
    padding-right: 50px;
}

li a{
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
}

li a:hover{
    text-decoration: underline;
    font-size: 16px;
}

div.click{
    display: block;
    position: absolute;
    left: 1455px;
    top: 43px;
}

a.button{
    display: flex;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    width: 155px;
    height: 36px;
    font-size: 13px;
    background: #018ABE;
    border-radius: 3px;
}

div.first-screen{
    position: absolute;
    width: 1296px;
    height: 600px;
    left: 312px;
    top: 140px;

    background: linear-gradient(0deg, rgba(152, 201, 220, 0.5), rgba(152, 201, 220, 0.5)), url(/css/img/first-screen.png);
    border-radius: 10px;
}

div.service{
    position: absolute;
    top: 890px;
    left: 312px;
}

h2#labe-service{
    position: absolute;
    width: 482px;
    left: 407px;
}

h2#labe-service:before{
    content: url(/css/img/Rectangle6.png);
    position: absolute;
    right: 452px;
}

h2#labe-service:after{
    content: url(/css/img/Rectangle7.png);
    position: absolute;
    left: 452px;
}

.layer1{
    position: absolute;
    background: linear-gradient(0deg, rgba(1, 138, 190, 0), rgba(1, 138, 190, 0)), url(/css/img/bg-layer.png) no-repeat center, #8E8E8E;
    border-radius: 10px;
    background-size: auto 540px;

    width: 416px;
    height: 540px;
    top: 159px;
}

.layer1 a{
    display: block;
    width: 416px;
    height: 540px;
}

.layer1 span{
    color: #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;

    position: absolute;
    top: 456px;
    left: 50px;
}

.layer1:hover{
    position: absolute;
    background: linear-gradient(0deg, rgba(1, 138, 190, 0.5), rgba(1, 138, 190, 0.5)), url(/css/img/bg-layer.png) no-repeat center, #8E8E8E;
    border-radius: 10px;
    background-size: auto 540px;
    
    border-bottom-width: 7px;
    border-bottom-style: solid;
    border-bottom-color: #028ABE;

    width: 416px;
    height: 540px;
    top: 159px;
}

.layer2{
    position: absolute;
    background: linear-gradient(0deg, rgba(1, 138, 190, 0), rgba(1, 138, 190, 0)), url(/css/img/bg-layer.png) no-repeat center, #8E8E8E;
    border-radius: 10px;

    width: 415px;
    height: 258px;
    top: 159px;
    left: 440px;
}

.layer2 a{
    display: block;
    width: 415px;
    height: 258px;
}

.layer2 span{
    color: #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    
    position: absolute;
    top: 194px;
    left: 40px;
}

.layer2:hover{
    position: absolute;
    background: linear-gradient(0deg, rgba(1, 138, 190, 0.5), rgba(1, 138, 190, 0.5)), url(/css/img/bg-layer.png) no-repeat center, #8E8E8E;
    border-radius: 10px;
    
    border-bottom-width: 7px;
    border-bottom-style: solid;
    border-bottom-color: #028ABE;

    width: 415px;
    height: 258px;
    top: 159px;
    left: 440px;
}

.layer3{
    position: absolute;
    background: linear-gradient(0deg, rgba(1, 138, 190, 0), rgba(1, 138, 190, 0)), url(/css/img/bg-layer.png) no-repeat center, #8E8E8E;
    border-radius: 10px;

    width: 415px;
    height: 258px;
    top: 441px;
    left: 440px;
}

.layer3 a{
    display: block;
    width: 415px;
    height: 258px;
}

.layer3 span{
    color: #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    
    position: absolute;
    top: 218px;
    left: 40px;
}

.layer3:hover{
    position: absolute;
    background: linear-gradient(0deg, rgba(1, 138, 190, 0.5), rgba(1, 138, 190, 0.5)), url(/css/img/bg-layer.png) no-repeat center, #8E8E8E;
    border-radius: 10px;
    
    border-bottom-width: 7px;
    border-bottom-style: solid;
    border-bottom-color: #028ABE;

    width: 415px;
    height: 258px;
    top: 441px;
    left: 440px;
}

.layer4{
    position: absolute;
    background: linear-gradient(0deg, rgba(1, 138, 190, 0), rgba(1, 138, 190, 0)), url(/css/img/bg-layer.png) no-repeat center, #8E8E8E;
    border-radius: 10px;

    width: 415px;
    height: 258px;
    top: 159px;
    left: 880px;
}

.layer4 a{
    display: block;
    width: 415px;
    height: 258px;
}

.layer4 span{
    color: #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    
    position: absolute;
    top: 160px;
    left: 40px;
}

.layer4:hover{
    position: absolute;
    background: linear-gradient(0deg, rgba(1, 138, 190, 0.5), rgba(1, 138, 190, 0.5)), url(/css/img/bg-layer.png) no-repeat center, #8E8E8E;
    border-radius: 10px;
    
    border-bottom-width: 7px;
    border-bottom-style: solid;
    border-bottom-color: #028ABE;

    width: 415px;
    height: 258px;
    top: 159px;
    left: 880px;
}

.layer5{
    position: absolute;
    background: linear-gradient(0deg, rgba(1, 138, 190, 0), rgba(1, 138, 190, 0)), url(/css/img/bg-layer.png) no-repeat center, #8E8E8E;
    border-radius: 10px;

    width: 415px;
    height: 258px;
    top: 441px;
    left: 880px;
}

.layer5 a{
    display: block;
    width: 415px;
    height: 258px;
}

.layer5 span{
    color: #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    
    position: absolute;
    top: 160px;
    left: 40px;
}

.layer5:hover{
    position: absolute;
    background: linear-gradient(0deg, rgba(1, 138, 190, 0.5), rgba(1, 138, 190, 0.5)), url(/css/img/bg-layer.png) no-repeat center, #8E8E8E;
    border-radius: 10px;
    
    border-bottom-width: 7px;
    border-bottom-style: solid;
    border-bottom-color: #028ABE;

    width: 415px;
    height: 258px;
    top: 441px;
    left: 880px;
}

div.review{
    position: absolute;
    left: 92px;
    top: 1739px;
}

h2#review{
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 140%;

    position: absolute;
    width: 155px;
    left: 791px;
}

h2#review:before{
    content: url(/css/img/Rectangle6.png);
    position: absolute;
    right: 199px;
}

h2#review:after{
    content: url(/css/img/Rectangle7.png);
    position: absolute;
    left: 199px;
}

.rev-slider{
    position: absolute;
    top: 150px;
    left: 92px;
}

.slider{
    margin-top: 192px;

    color: #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
}

.slide{
    background: #018ABE;
    padding: 40px 45px;
    float: left;
    margin-left: 50px;
    width: 400px;
    height: auto;
}

.off{
    opacity: 0.2;
}

.slide:hover{
    opacity: 1;
}

.control{
    margin-top: 750px;
}

.control ul{
    display: flex;
    justify-content: center;
}

.control li{
    float: left;
    margin-left: 20px;
}

.about{
    position: absolute;
    top: 2600px;
    left: 839px;
}

h2#about{
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 140%;
}

h2#about:before{
    content: url(/css/img/Rectangle6.png);
    position: absolute;
    right: 288px;
}

h2#about:after{
    content: url(/css/img/Rectangle7.png);
    position: absolute;
    left: 288px;
}

.about1{
    position: absolute;
    top: 266px;
    width: 466px;
    height: 365px;
    
    left: -417px;
}

.about1 b{
    color: #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
}

.about1 p{
    color: #fff;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
}

.about2{
    position: absolute;
    top: 200px;
    left: 130px;
}

.about3{
    position: absolute;
    top: 600px;
    left: -417px;
}

.about4{
    position: absolute;
    top: 640px;
    left: 180px;
    width: 466px;
    height: 365px;
}

.about4 b{
    color: #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
}

.about4 p{
    color: #fff;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
}

.price{
    position: absolute;
    top: 3648px;
    left: 422px;
}

h2#price{
    position: absolute;
    left: 417px;
    width: 372px;
}

h2#price:before{
    content: url(/css/img/Rectangle6.png);
    position: absolute;
    right: 417px;
}

h2#price:after{
    content: url(/css/img/Rectangle7.png);
    position: absolute;
    left: 417px;
}

.marker{
    position: absolute;
    top: 303px;
    width: 378px;
}

.marker p{
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
}

.marker span{
    float: right;
}

.marker p:before{
    content: url(/css/img/Rectangle27.png);
    position: absolute;
    left: -40px;
}

.img{
    position: absolute;
    top: 200px;
    left: 550px;
}

.copy{
    color: #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 140%;
    /* or 29px */

    text-align: center;
}

.contact{
    position: absolute;
    top: 4412px;
    left: 312px;
}

.contact_item1{
    background: #018ABE;
    border-radius: 10px;

    width: 392px;
    height: 280px;

    position: absolute;
    left: 904px;
    top: 0px;
    width: 390px;
    padding: 15px 0 0 85px;
}

.contact_item1 a{
    background-color: #FFFFFF;
    border-radius: 3px;
    color: #018ABE;

    position: absolute;
    width: 155px;
    height: 36px;
    left: 45px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.contact_item1 b{
    color: #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;

    margin-left: -40px;
}

.contact_item1 p{
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;

    padding: 10px 0;
}

.contact_item2{
    background: #018ABE;
    border-radius: 10px;

    width: 392px;
    height: 280px;

    position: absolute;
    left: 904px;
    top: 304px;
    width: 390px;
    padding: 20px 0 0 85px;
}

.contact_item2 a{
    background-color: #FFFFFF;
    border-radius: 3px;
    color: #018ABE;

    position: absolute;
    width: 155px;
    height: 36px;
    left: 45px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.contact_item2 b{
    color: #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;

    margin-left: -40px;
}

.contact_item2 p{
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;

    padding: 10px 0;
}

#item1:before{
    content: url(/css/img/Vector.png);
    position: absolute;
    left: 45px;
}

#item2:before{
    content: url(/css/img/Vector2.png);
    position: absolute;
    left: 45px;
}

#item3:before{
    content: url(/css/img/Vector3.png);
    position: absolute;
    left: 45px;
}

footer.index{
    position: absolute;
    width: 1380px;
    height: 19px;
    left: 312px;
    top: 5106px;    
}

.copyrite{
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;
}

.copyrite span{
    float: right;
}

/* Новости */
hr{
    width: 1296px;
}

#new{
    margin-top: 120px;
}

#heading{
    color: #fff;

    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 140%;
}

#heading:before{
    content: url(/css/img/Rectangle6.png);
    margin-right: 45px;
}

#heading:after{
    content: url(/css/img/Rectangle7.png);
    margin-left: 45px;
}

.cover{
    background: linear-gradient(0deg, rgba(1, 138, 190, 0), rgba(1, 138, 190, 0)), url(/css/img/bg-layer.png);
    border-radius: 10px;    
}

.cover:hover{
    background: linear-gradient(0deg, rgba(1, 138, 190, 0.5), rgba(1, 138, 190, 0.5)), url(/css/img/bg-layer.png);
    border-radius: 10px;
}

.cover a{
    display: block;
    width: 416px;
    height: 258px;
}

.cover b{
    color: #FFFFFF;

    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 140%;

    position: absolute;
    top: 199px;
    left: 35px;
}

span.date{
    background: #018ABE;
    border-radius: 5px;
    color: #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 135%;
    padding: 6px 12px;

    position: absolute;
    left: 35px;
    top: 30px;
}

.one{
    position: absolute;
    width: 416px;
    height: 258px;
    left: 312px;
    top: 299px;
}
.two{
    position: absolute;
    width: 416px;
    height: 258px;
    left: 752px;
    top: 299px;
}

.three{
    position: absolute;
    width: 416px;
    height: 258px;
    left: 1192px;
    top: 299px;
}

.foure{
    position: absolute;
    width: 416px;
    height: 258px;
    left: 312px;
    top: 581px; 
}

.five{
    position: absolute;
    width: 416px;
    height: 258px;
    left: 752px;
    top: 581px;
}

.six{
    position: absolute;
    width: 416px;
    height: 258px;
    left: 1192px;
    top: 581px;
}

hr.end{
    position: absolute;
    top: 959px;
    left: 312px;
    bottom: 30px;
}

footer{
    position: absolute;
    top: 1019px;
    left: 312px;
    height: 40px;

    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;
}

span.end{
    position: absolute;
    left: 1120px;
    width: 157px;
}

span.end a{
    color: #fff;
    font-size: 18px;
    text-decoration: underline;
}